* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
    margin: 0;
}

.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

header {
    background-image: url("carnew.jpg");
    background-size: cover;
    background-position: center center;
    color: rgb(44, 33, 22);
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh, 102px);
}

.content {
    font-size: 2rem;
    margin: auto;
    max-width: 100%;
}

.content h1 {
    color: aqua;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    /* padding-inline: 1rem; */
}

nav .logo {
    font-size: 2rem;

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: aqua;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

.highlight {
    background-color: aqua;
    color:black;
    padding: .5rem;
    text-decoration: none;
}

footer {
    background-color:rgb(44, 33, 29) ;
    color: white;
    padding: 1rem;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

footer strong {
    color: aqua;

}

footer p {
    margin: 2rem;
}

@media screen and (max-width: 700px) {
    .content {
        font-size: 1.4rem;
        margin: 2rem auto 0;
    }

    nav ul {
        flex-direction: column;

    }

    nav li:not(:last-child) {
        margin-bottom: 1rem;
    }

    nav .highlight {
        display: none;
    }

    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    footer li {
        margin: 1rem;
        text-align: center;
    }
}
